<ng-container *ngIf="(state$ | async) as state">
  <div 
    class="desired-temperature" 
    [ngClass]="{heating: state.relays.heat, cooling: state.relays.cool}">
    {{ state.desired_temperature }}
  </div>
  <div 
    class="actual-temperature">
    {{ state.actual_temperature }}
  </div>
  <button mat-icon-button (click)="inc()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  <button mat-icon-button (click)="dec()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <button 
    mat-button 
    (click)="mode('heat')" 
    [color]="state.mode == 'heat' ? 'warn' : ''">
    HEAT
  </button>
  <button 
    mat-button 
    (click)="mode('cool')" 
    [color]="state.mode == 'cool' ? 'accent' : ''">
    COOL
  </button>
  <button 
    mat-button 
    (click)="mode('fan')" 
    [color]="state.mode == 'fan' ? 'accent' : ''">
    FAN
  </button>
  <button 
    mat-button 
    (click)="mode('off')" 
    [color]="state.mode == 'off' ? 'accent' : ''">
    OFF
  </button>
</ng-container>
