@import "../../../variables.scss";
:host {
  display: flex;
  flex-direction: row;
}
.modes {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.temperatures {
  text-align: center;
}
.desired-temperature {
  font-size: 96px;
  line-height: 96px;
}
.desired-temperature.heating {
  color: $warn;
}
.desired-temperature.cooling {
  color: $accent;
}
