@import "../variables.scss";

.toolbar-spacer {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.menu-icon {
  margin-right:16px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: -120px;
  z-index: 20;
}
html, body, app-root, .app-frame {
	margin: 0;
	box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #505050;
}
/* garage css */
.garage-doors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
app-garage-door {
  display: flex;
  flex:1;
  margin: 1em;
}
app-garage-door:last-child {
  flex:2;
  margin-left: 0;
}
/* switches css */
.mat-list-item-content {
  display: flex;
}
.label, app-zwave-dimmer {
  flex: 1;
}
app-tv {
  margin: 1em;
}
.desktop-title {
  text-align: center;
  padding-top: 60px;
}

@media only screen and (min-width: 799px) {
  .mat-toolbar.mat-primary {
    position: static;
    height: 180px;
  }
  .menu-icon, .mobile-title {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .mat-toolbar.mat-primary {
    z-index: 30;
  }
  .page-container {
    margin-top: 0;
  }
  .desktop-title {
    display: none;
  }
}
