<div class="mat-typography app-frame">
  <mat-toolbar color="primary" class="main-toolbar mat-elevation-z6">
    <mat-icon class="menu-icon">home</mat-icon>
    <span class="mobile-title">Lane's House</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
  <div class="page-container mat-elevation-z8 mat-app-background">
    <h1 class="desktop-title mat-display-2">Lane's House</h1>
    <app-air-quality></app-air-quality>
    <div class="garage-doors">
      <app-garage-door 
        sensorName="garage_door_sensor2" 
        openerName="garage_door_opener2">
      </app-garage-door>
      <app-garage-door 
        sensorName="garage_door_sensor1" 
        openerName="garage_door_opener1">
      </app-garage-door>
    </div>
    <div class="thermostats">
      <div>
        <h3 matSubheader>Upstairs</h3>
        <app-thermostat deviceName="thermostat1"></app-thermostat>
      </div>
      <div>
        <h3 matSubheader>Downstairs</h3>
        <app-thermostat deviceName="thermostat2"></app-thermostat>
      </div>
    </div>
    <mat-list>
      <h3 matSubheader>Lights</h3>
      <mat-list-item>
        <div class="label">Driveway</div>
        <app-tasmota-switch deviceName="driveway_lights"></app-tasmota-switch> 
      </mat-list-item>
      <mat-list-item>
        <div class="label">Garage</div>
        <app-tasmota-switch deviceName="garage_light"></app-tasmota-switch> 
      </mat-list-item>
      <mat-list-item>
        <div class="label">Upstairs Hallway</div>
        <app-zwave-dimmer deviceName="upstairs_hallway/lights"></app-zwave-dimmer> 
      </mat-list-item>
      <mat-list-item>
        <div class="label">Kitchen 1</div>
        <app-zwave-dimmer deviceName="kitchen/lights3"></app-zwave-dimmer>
      </mat-list-item>
      <mat-list-item>
        <div class="label">Kitchen 2</div>
        <app-zwave-dimmer deviceName="kitchen/lights4"></app-zwave-dimmer>
      </mat-list-item>
      <!--<mat-list-item>
        <div class="label">Family Room</div>
        <app-zwave-dimmer deviceName="family_room/fanlight"></app-zwave-dimmer>
      </mat-list-item>-->
      <mat-list-item>
        <div class="label">Family Room Fan Light</div>
        <app-zwave-dimmer deviceName="family_room/fanlight"></app-zwave-dimmer>
      </mat-list-item>
      <mat-list-item>
        <div class="label">Family Room Can Lights</div>
        <app-zwave-dimmer deviceName="family_room/can_lights"></app-zwave-dimmer>
      </mat-list-item>
      <mat-list-item>
        <div class="label">Master Bedroom</div>
        <app-zwave-dimmer deviceName="master_bedroom/light"></app-zwave-dimmer>
      </mat-list-item>
      <mat-list-item>
        <div class="label">Christmas Lights</div>
        <app-tasmota-switch deviceName="christmas_lights"></app-tasmota-switch> 
      </mat-list-item>
      <mat-list-item>
        <div class="label">Christmas Tree</div>
        <app-tasmota-switch deviceName="christmas_tree"></app-tasmota-switch> 
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>Fans</h3>
      <mat-list-item>
        <div class="label">Family Room</div>
        <app-tasmota-switch deviceName="family_room_fan"></app-tasmota-switch> 
      </mat-list-item>
      <mat-list-item>
        <div class="label">Master Bedroom</div>
        <app-tasmota-switch deviceName="master_bedroom_fan"></app-tasmota-switch> 
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <app-tv deviceName="tv_receiver"></app-tv>
  </div>
</div>
